input {
  width: 500px;
  height: 40px;
  font-size: 18px;
}

#lista-de-productos {
  display: flex
}

.producto {
  width: 200px;
  height: 200px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: #e1dfdf;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.587);
  transition: all 0.3s ease-in-out;
}
.producto:hover{
  scale: 1.06;
}

.producto img {
  width: 70%;
  height: auto
}